
Skip to content
Pull requests
Issues
Marketplace
Explore
@dressalsl
Learn Git and GitHub without any code!

Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.
Code Issues 0 Pull requests 0 Projects 0 Actions Wiki Security Pulse Community
treinaweb-react-introducao/src/App.css
@hanashiro hanashiro Initial commit from Create React App 07f4bea on Dec 14, 2018
32 lines (28 sloc) 468 Bytes
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


